@model AguaPotablePuquereo.Models.Sitio.Cliente

@{
    ViewBag.Title = "Deudas";
}
<!-- Header -->
<div>
    <h4>¡Bienvenido @Model.Completo!</h4>
</div>
<!-- Contenido generado automáticamente -->

<div class="container ">
	<div>
		<table id="tabla-deuda" class="centered bordered">
			<thead>
				<tr>
					<th style="padding-right:8px"><input type="checkbox" id="test0" /><label for="test0"></label></th>
					<th style="padding-right:8px">Periodo</th>
					<th style="padding-right:8px">Monto</th>
					<th style="padding-right:8px">Vence</th>
				</tr>
			</thead>
		</table>
	</div>
	<div id="pagar-button">
		<button class="btn" onclick="Pagar()">Pagar</button>
	</div>
    <p id="mensaje">

    </p>
</div>

<form id="formWebPay" method="post">
    <input id="token" type="hidden" name="token_ws" />
</form>

<script>
    $(document).ready(function () {
        CargarGrilla();
        if ('@ViewBag.Mensaje' != '') {

        }
    })

    function CargarGrilla() {
        $('#tabla-deuda').DataTable({
            bFilter: false,
            bInfo: false,
            bPaginate: false,
            ordering: false,
            "columns": [
                {
                    'render': function (dat, type, full, meta) {
                        return '<input type="checkbox" id="test' + full.Id + '" /><label for="test' + full.Id + '"></label>';
                    }
                },
                { data: "Periodo" },
                { data: "Monto" },
                { data: "Vence" },
            ],
            "ajax": {
                "url": "@Url.Action("JsonGetListaDeudas")?CliId=@Model.CliID",
                "type": "POST",
                "dataType": "json"
            },
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                $(nRow).attr("id", "tr" + aData.Id);
                return nRow;
            },
        });
    }

    $('#test0').change(function () {
        var checkboxes = $(this).closest('table').find(':checkbox');
        if ($(this).is(':checked')) {
            checkboxes.prop('checked', true);
        } else {
            checkboxes.prop('checked', false);
        }
    });

    function Pagar() {
        var checked = [];
        var inputs = $('#tabla-deuda tbody tr td input:checked');
        inputs.each(function (i, data) {
            var padre = $(data).parent().parent();
            var id = $(padre).attr('id');
            var num = id.replace(/^\D+/g, '');
            checked.push(num);
        });

        $.ajax({
            type: 'post',
            url: '@Url.Action("GetToken")',
            data: { Deudas: checked, rut: '@Model.Rut' },
            success: function (data) {
                if (data.exito) {
                    $('#token').val(data.data.result.token);
                    $('#formWebPay').attr('action', data.data.result.url);
                    $('#formWebPay').submit();
                } else {
                    if (data.mensaje) {
                        Resyst.Error(data.mensaje);
                    }
                }
            },
        })
    }
</script>