@{
	ViewBag.Title = "Inicio";
}
<style>
    .collection {
        overflow: visible;
    }
</style>
<!-- Loader -->
<div id="loader" class="container">
	<h4>Cargando...</h4>
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div><div class="gap-patch">
				<div class="circle"></div>
			</div><div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<!-- Contenido -->
<div id="content" style="display: none;">
	<div class="container row">
        <h4>Pagos sin registrar</h4>
		<table id="tablaPagos" style="border:1px solid #d0d0d0" class="centered table bordered striped">
			<thead>
				<tr>
					<th>Cliente</th>
					<th>Rut</th>
					<th>Cuenta</th>
					<th>Deuda Pagada</th>
					<th>Periodo</th>
					<th>Acciones</th>
				</tr>
			</thead>
		</table>
	</div>
    <br />
	<div class="container row">
		<!-- Título Clientes -->
		<h4>
			Clientes
			<a href="javascript:void()" onclick="Mantncion(0)"><i class="material-icons">add_box</i></a>
		</h4>
		<table id="tablaClientes" style="border:1px solid #d0d0d0" class="table bordered striped centered col s12">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Rut</th>
					<th>Cuenta</th>
					<th>Total Deudas</th>
					<th class="">Acciones</th>
				</tr>
			</thead>
		</table>
		<!-- Modal Structure -->
		<div id="modal1" class="modal collection">
			<div class="modal-content">
				<div class="row">
					<div class="col s12">
						<h5 class="left">Agregar Deuda (<lablel id="Cliente" class="green-text"></lablel>)</h5>
					</div>
				</div>
				<form id="formularioAgregarDeduda" method="post">
					<div class="row">
						<div class="input-field col s12 m4 " style="margin-top: 20px">
							<label class="active" for="monto">Monto</label>
							<input id="monto" type="number" name="monto">
						</div>
						<div class="input-field col s12 m4" style="margin-top: 20px">
							<label class="active" for="mes">Mes</label>
							@Html.DropDownList("mes", (SelectList) ViewBag.SelectMes)
						</div>
						<div class="input-field col s12 m4" style="margin-top: 20px">
							<input id="ano" type="number" value="@DateTime.Now.Year" name="ano">
							<label class="active" for="ano">Año</label>
						</div>
                        <div class="input-field col s12 m4" style="margin-top: 20px">
                            <input id="vence" type="text" class="datepicker" value="@DateTime.Now.AddMonths(1).ToString("dd-MM-yyyy")" name="vence">
                            <label class="active" for="vence">Vence</label>
                        </div>
					</div>
                    <input type="hidden" id="cliid" name="cliente" />
					<input type="hidden" id="id" name="id" />
				</form>
			</div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green z-depth-3 btn orange darken-1">Cerrar</a>
                <a href="javascript:AgregarDedudaFinal()" class="modal-action modal-close waves-effect waves-green z-depth-3 btn green accent-4" classonclick="">Agregar</a>

            </div>
		</div>
	</div>
</div>


<div id="modal2" class="modal collection" style="width:30em">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h5 class="center">¿Está seguro de eliminar al cliente <span id="nombreCliente"></span>?</h5>
            </div>
        </div>
    </div>
    <div class="modal-footer center" style="text-align:center; padding-left:20px; padding-right:20px">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect left waves-green btn green accent-4">Cancelar</a>
        <a id="botonEliminar" href="javascript:void('0')" class="modal-action right modal-close waves-effect waves-green btn orange darken-1" classonclick="">Eliminar</a>
    </div>
</div>



<script>
	function pageLoading(status) {
		if (status == 'true') {
			$("#loader").css('display', 'block');
			$("#content").css('display', 'none');
		}
		else {
			$("#loader").css('display', 'none');
			$("#content").css('display', 'block');
		}
	}
	// Segunda tabla
    $(document).ready(function () {
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            onStart: function () {
                $('.picker').appendTo('body');
            },
            format: "dd-mm-yyyy",
        }).change();
    });
    $('#tablaClientes').DataTable({
        bFilter: true,
        bInfo: false,
        bPaginate: false,
		ordering: true,
        "columns": [
            { data: "Nombre" },
            { data: "Rut" },
            { data: "Cuenta" },
            { data: "TotalDeuda" },
            {
                'render': function (dat, type, full, meta) {
					return '<div style="padding-right: 18px"><a href="javascript:void(0)" title="Editar Cliente" onclick="Mantncion(' + full.Id + ')"><i class="material-icons">edit</i></a> '+
                        '<a href="javascript:void(\'0\')" class="red-text" title="Eliminar Cliente" onclick="Eliminar(' + full.Id + ', \'' + full.Nombre + '\')"><i class="material-icons">clear</i></a> ' +
                        '<a href="#modal1" class="green-text modal-trigger" title="Agregar deuda" onclick="AgregarDeuda(' + full.Id + ', \'' + full.Nombre + '\')"><i class="material-icons">attach_money</i></a></div>';
                }
            },
        ],
        "ajax": {
            "url": "@Url.Action("GetListaCliente")",
            "type": "POST",
			"dataType": "json",
			"dataSrc": function (json) {
				pageLoading("false");
				return json.data;
			}
		},
    });

    function Eliminar(id, nombre) {
        $('#modal2').modal('open');
        $('span#nombreCliente').html(nombre);
        $('#botonEliminar').click(function (e) {
            e.preventDefault();
            if (!id) {
                Resyst.Error("Cliente no encontrado.");
                return;
            }
            $.ajax({
                type: 'post',
                url: '@Url.Action("EliminarCliente")',
                data: { id: id },
                success: function (data) {
                    Resyst.Toast(data, 'tablaClientes');
                },
            });
            $(this).unbind(e);
        });
    }


    function AgregarDeuda(id, nombre) {
        $('#Cliente').html(nombre);
        $('#cliid').val(id);
        $('#modal1').modal('open');
    }

    function AgregarDedudaFinal() {
        $('#formularioAgregarDeduda').submit();
    }
    $('#formularioAgregarDeduda').submit(function (e) {
        e.preventDefault();

        $.ajax({
            type: 'post',
            url: '@Url.Action("AgregarDeuda")',
            data: $('#formularioAgregarDeduda').serialize(),
            success: function (data) {
                Resyst.Toast(data, 'tablaClientes');
                $("#formularioAgregarDeduda").trigger("reset");
                $('#modal1').modal('close');
            },
        });
    });
    $('#tablaPagos').DataTable({
        bFilter: true,
        bInfo: false,
        bPaginate: false,
        ordering: true,
        "columns": [
            { data: "Nombre" },
            { data: "Rut" },
            { data: "Cuenta" },
            { data: "Deuda" },
            { data: "Periodo" },
            {
				'render': function (dat, type, full, meta) {
					return '<div style="padding-right: 20px"><a href="javascript:void()" onclick="Checkear(' + full.Id + ')"><i class="material-icons" style="color: green">check</i></a></div>';
                }
            },
        ],
        "ajax": {
            "url": "@Url.Action("GetListaDeudasPagadas")",
            "type": "POST",
			"dataType": "json"
        },
    });

    function Checkear(id) {

        $.ajax({
            type: 'post',
            url: '@Url.Action("AsignarVisto")',
            data: { id: id },
            success: function (data) {
                Resyst.ToastRecargar(data, "tablaPagos");
            }
        })
    }

    function Mantncion(id) {
        location.href = '@Url.Action("MantencionCliente")?id=' + id;
    }
</script>
