@model AguaPotablePuquereo.Areas.Administracion.Models.ModelCliente

@{
	ViewBag.Title = "Mantención Cliente";
}
<style>
    .collection {
        overflow: visible;
    }
</style><!-- Loader -->
<div id="loader" class="container">
	<h4>Cargando...</h4>
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div><div class="gap-patch">
				<div class="circle"></div>
			</div><div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>
<div id="content" class="container" style="display: none;">
	<div class="row">
		<!-- Volver: Desktop -->
		<div class="col s12 m4 l3 hide-on-small-only" style="margin-top: 2em; text-align: left">
			<a class="z-depth-3 btn orange darken-1" href="@Url.Action("Index", "Administrador")">Volver</a>
		</div>
		<!-- Título: Desktop -->
		<div class="col s12 m4 l6 hide-on-med-and-down">
			<h3>Mantención Cliente</h3>
		</div>
		<!-- Título: Mobile -->
		<div class="col s12 m4 l6 hide-on-large-only">
			<h4>Mantención Cliente</h4>
		</div>
		<!-- Volver: Mobile -->
		<div class="col s6 m4 l3 hide-on-med-and-up" style="margin-bottom: 1em; text-align: left">
			<a class="z-depth-3 btn orange darken-1" href="@Url.Action("Index", "Administrador")">Volver</a>
		</div>
		<!-- Guardar: Mobile -->
		<div class="col s6 m4 l3 hide-on-med-and-up" style="text-align: right">
			<button type="submit" class="z-depth-3 btn green accent-4">Guardar</button>
		</div>
		<!-- Guardar: Desktop -->
		<div class="col s12 m4 l3 hide-on-small-only" style="margin-top: 2em; text-align: right">
			<button type="submit" class="z-depth-3 btn green accent-4">Guardar</button>
		</div>
	</div>
	@using (Html.BeginForm("MantencionCliente", "Administrador", FormMethod.Post, new {
		id = "form"
	})) {
		@Html.HiddenFor(o => o.Id)
		<div class="row">
			<div class="col l4 m6 s12 input-field">
				@Html.TextBoxFor(o => o.Nombre, new { @type = "text" })
				<label for="Nombre">Nombre</label>
			</div>
			<div class="col l4 m6 s12 input-field">
				@Html.TextBoxFor(o => o.ApellidoP, new { @type = "text" })
				<label for="ApellidoP">Apellido Paterno</label>
			</div>
			<div class="col l4 m6 s12 input-field">
				@Html.TextBoxFor(o => o.ApellidoM, new { @type = "text" })
				<label for="Nombre">Apellido Materno</label>
			</div>
			<div class="col l4 m6 s12 input-field">
				@Html.TextBoxFor(o => o.Rut, new { @type = "text" })
				<label for="Nombre">Rut</label>
			</div>
			<div class="col l4 m6 s12 input-field">
				@Html.TextBoxFor(o => o.Cuenta, new { @type = "text" })
				<label for="Nombre">Cuenta</label>
			</div>
		</div>
	}
	<hr />
	<h4>Deudas impagas <a href="javascript:void(0)" onclick="Mantencion(0)"><i class="material-icons">add_box</i></a></h4>
	<div class="row">
		<div class="col s12">
			<table id="tabla-deuda" class="centered table bordered striped">
				<thead>
					<tr>
						<th style="padding-right:8px">Periodo</th>
						<th style="padding-right:8px">Monto</th>
						<th style="padding-right:8px">Vence</th>
						<th style="padding-right:8px">Multa</th>
						<th style="padding-right:8px">Total periodo</th>
                        <th style="padding-right:8px">Acciones</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<h4>Deudas pagadas</h4>
	<div class="row">
		<div class="col s12">
			<table id="tabla-deudas-pagadas" class="centered table bordered striped">
				<thead>
					<tr>
						<th style="padding-right:8px">Periodo</th>
						<th style="padding-right:8px">Monto</th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
</div>


<div id="modalDeuda" class="modal collection">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h5 class="left"><lablel id="titulo" class="green-text"></lablel></h5>
            </div>
        </div>
        <form id="formularioAgregarDeduda" method="post">
            <div class="row">
                <div class="input-field col s12 m4 " style="margin-top: 20px">
                    <label class="active" for="monto">Monto</label>
                    <input id="monto" type="number" name="monto">
                </div>
                <div class="input-field col s12 m4" style="margin-top: 20px">
                    <label class="active" for="mes">Mes</label>
                    @Html.DropDownList("mes", (SelectList)ViewBag.SelectMes, new { })
                </div>
                <div class="input-field col s12 m4" style="margin-top: 20px">
                    <input id="ano" type="number" value="@DateTime.Now.Year" name="ano">
                    <label class="active" for="ano">Año</label>
                </div>
                <div class="input-field col s12 m4" style="margin-top: 20px">
                    <input id="multa" type="number" value="" name="multa">
                    <label class="active" for="multa">Multa</label>
                </div>
            </div>
            <input type="hidden" id="cliid" name="cliente" />
        </form>
    </div>
    <div class="modal-footer">
        <a href="javascript:AgregarDedudaFinal()" class="modal-action modal-close waves-effect waves-green btn-flat" classonclick="">Agregar</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
    </div>
</div>

<script>
	$(document).ready(function () {
		// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $('select').material_select();
	});

	function pageLoading(status) {
		if (status == 'true') {
			$("#loader").css('display', 'block');
			$("#content").css('display', 'none');
		}
		else {
			$("#loader").css('display', 'none');
			$("#content").css('display', 'block');
		}
	}

    $('#form').submit(function (e) {
        var rut = $('#Rut').val();
        var d = Resyst.ValidarRut(rut);
        if (!d) {
            e.preventDefault();

            Resyst.Error("Rut inválido");
        }
    });

    $('#tabla-deuda').DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        ordering: false,
        "columns": [
            { data: "Periodo" },
            { data: "Monto" },
			{ data: "Vence" },
			{
                data : "Multa"
			},
            { data: "Total" },
            {
                'render': function (dat, type, full, meta) {
                    return '<a href="javascript:void(0)" title="Editar Deuda" onclick="MantncionDeuda(' + full.Id + ')"><i class="material-icons">edit</i></a>';
				}
			},
        ],
        "ajax": {
            "url": "@Url.Action("JsonGetListaDeudas")?id=@Model.Id",
            "type": "POST",
			"dataType": "json",
			"dataSrc": function (json) {
				pageLoading("false");
				return json.data;
			}
        },
    });

    $('#tabla-deudas-pagadas').DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        ordering: false,
        "columns": [
            { data: "Periodo" },
            { data: "Monto" },
			//{ data: "Vence" },
			//{
   //             'render': function (dat, type, full, meta) {
   //                 if (full.AplicaMulta) {
   //                     if (full.Multa != null)
   //                         return '<a class="red darken-1 modal-trigger" href="#modal-placebo">' + full.Multa + '</a>';
   //                     return '<a class="red darken-1 modal-trigger" href="#modal-placebo">Agregar</a>';
   //                 }
   //                 return 'No Aplica'
			//	}
			//},
   //         { data: "Total" },
        ],
        "ajax": {
            "url": "@Url.Action("JsonGetListaDeudas")?id=@Model.Id&pagadas=true",
            "type": "POST",
			"dataType": "json",
			"dataSrc": function (json) {
				pageLoading("false");
				return json.data;
			}
        },
    });

    @* SCRIPT DE LA SEGUNDA TABLA -> POR HACER

    $('#tabla-deudas-pagadas').DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        ordering: false,
        "columns": [
            { data: "Periodo" },
            { data: "Monto" },
        ],
        "ajax": {
            "url": "@Url.Action("JsonGetListaDeudas")?id=@Model.Id",
            "type": "POST",
            "dataType": "json"
        },
    });*@

    $('#test0').change(function () {
        var checkboxes = $(this).closest('table').find(':checkbox');
        if ($(this).is(':checked')) {
            checkboxes.prop('checked', true);
        } else {
            checkboxes.prop('checked', false);
        }
    });

    function MantncionDeuda(id) {
        if (id == 0) {
            $('#titulo').html('Agregar Deuda');
        }
        else {
            $('#titulo').html('Editar Deuda');
            $.ajax({
                type: 'post',
                url: '@Url.Action("JsonObtenerDatosDeuda")',
                data: { id: id },
                success: function (data) {
                    CargarModal(data);
                }
            })
        }

        

        $('#modalDeuda').modal('open');
    }

    function CargarModal(data) {
        $('#monto').val(data.Monto).change();
        $('#ano').val(data.Ano).change();
        $('#mes').val(data.Mes).change();
        $('#multa').val(data.Multa).change();
    }
</script>

