@model AguaPotablePuquereo.Areas.Administracion.Models.ModelCliente
<h2>Mantencion Cliente</h2>

<div class="row">
    <div class="col l4 m6 s12 input-field">
        @Html.TextBoxFor(o=> o.Nombre, new { @class="validate", @type="text"})
        <label for="Nombre">Nombre</label>
    </div>
    <div class="col l4 m6 s12 input-field">
        @Html.TextBoxFor(o => o.ApellidoP, new { @class = "validate", @type = "text" })
        <label for="ApellidoP">Apellido Paterno</label>
    </div>
    <div class="col l4 m6 s12 input-field">
        @Html.TextBoxFor(o => o.Nombre, new { @class = "validate", @type = "text" })
        <label for="Nombre">Nombre</label>
    </div>
    <div class="col l4 m6 s12 input-field">
        @Html.TextBoxFor(o => o.Nombre, new { @class = "validate", @type = "text" })
        <label for="Nombre">Nombre</label>
    </div>
    <div class="col l4 m6 s12 input-field">
        @Html.TextBoxFor(o => o.Nombre, new { @class = "validate", @type = "text" })
        <label for="Nombre">Nombre</label>
    </div>
</div>

