@model AguaPotablePuquereo.Areas.Administracion.Models.ModelCliente

@{
    ViewBag.Title = "Mantención Cliente";
}
<style>
    .collection {
        overflow: visible;
    }
</style><!-- Loader -->
@if (Model.Id != 0)
{
    <div id="loader" class="container">
        <h4>Cargando...</h4>
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
}
<div id="content" class="container" @if (Model.Id != 0) { <text> style="display: none;" </text> }>
    @using (Html.BeginForm("MantencionCliente", "Administrador", FormMethod.Post, new
    {
        id = "form"
    }))
    {
        <div class="row">
            <!-- Volver: Desktop -->
            <div class="col s12 m4 l3 hide-on-small-only" style="margin-top: 2em; text-align: left">
                <a class="z-depth-3 btn orange darken-1" href="@Url.Action("Index", "Administrador")">Volver</a>
            </div>
            <!-- Título: Desktop -->
            <div class="col s12 m4 l6 hide-on-med-and-down">
                <h3>Mantención Cliente</h3>
            </div>
            <!-- Título: Mobile -->
            <div class="col s12 m4 l6 hide-on-large-only">
                <h4>Mantención Cliente</h4>
            </div>
            <!-- Volver: Mobile -->
            <div class="col s6 m4 l3 hide-on-med-and-up" style="margin-bottom: 1em; text-align: left">
                <a class="z-depth-3 btn orange darken-1" href="@Url.Action("Index", "Administrador")">Volver</a>
            </div>
            <!-- Guardar: Mobile -->
            <div class="col s6 m4 l3 hide-on-med-and-up" style="text-align: right">
                <button type="submit" class="z-depth-3 btn green accent-4">Guardar</button>
            </div>
            <!-- Guardar: Desktop -->
            <div class="col s12 m4 l3 hide-on-small-only" style="margin-top: 2em; text-align: right">
                <button type="submit" class="z-depth-3 btn green accent-4">Guardar</button>
            </div>
        </div>
        @Html.HiddenFor(o => o.Id)
        <div class="row">
            <div class="col l4 m6 s12 input-field">
                @Html.TextBoxFor(o => o.Nombre, new { @type = "text" })
                <label for="Nombre">Nombre</label>
            </div>
            <div class="col l4 m6 s12 input-field">
                @Html.TextBoxFor(o => o.ApellidoP, new { @type = "text" })
                <label for="ApellidoP">Apellido Paterno</label>
            </div>
            <div class="col l4 m6 s12 input-field">
                @Html.TextBoxFor(o => o.ApellidoM, new { @type = "text" })
                <label for="Nombre">Apellido Materno</label>
            </div>
            <div class="col l4 m6 s12 input-field">
                @Html.TextBoxFor(o => o.Rut, new { @type = "text" })
                <label for="Nombre">Rut</label>
            </div>
            <div class="col l4 m6 s12 input-field">
                @Html.TextBoxFor(o => o.Cuenta, new { @type = "text" })
                <label for="Nombre">Cuenta</label>
            </div>
        </div>
    }
    <hr />
    <br />
    @if (Model.Id > 0)
    {
        <div class="row">
            <h4>Deudas impagas <a href="javascript:void(0)" onclick="MantncionDeuda(0)"><i class="material-icons">add_box</i></a></h4>
            <div class="col s12">
                <table id="tabla-deuda" class="centered table bordered striped">
                    <thead>
                        <tr>
                            <th style="padding-right:8px">Periodo</th>
                            <th style="padding-right:8px">Monto</th>
                            <th style="padding-right:8px">Vence</th>
                            <th style="padding-right:8px">Multa</th>
                            <th style="padding-right:8px">Total periodo</th>
                            <th style="padding-right:8px">Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <h4>Deudas pagadas</h4>
            <div class="col s12">
                <table id="tabla-deudas-pagadas" class="centered table bordered striped">
                    <thead>
                        <tr>
                            <th style="padding-right:8px">Periodo</th>
                            <th style="padding-right:8px">Monto</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <hr />
        <br />
        <div class="row">
            <h4>Deudas Anuladas </h4>
            <div class="col s12">
                <table id="tabla-deudaAnulada" class="centered table bordered striped">
                    <thead>
                        <tr>
                            <th style="padding-right:8px">Periodo</th>
                            <th style="padding-right:8px">Monto</th>
                            <th style="padding-right:8px">Vence</th>
                            <th style="padding-right:8px">Multa</th>
                            <th style="padding-right:8px">Total periodo</th>
                            <th style="padding-right:8px">Acciones</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div id="modalDeuda" class="modal collection">
            <div class="modal-content">
                <div class="row">
                    <div class="col s12">
                        <h5 class="left"><lablel id="titulo" class="green-text"></lablel></h5>
                    </div>
                </div>
                <form id="formularioAgregarDeduda" method="post">
                    <div class="row">
                        <div class="input-field col s12 m4 " style="margin-top: 20px">
                            <label class="active" for="monto">Monto</label>
                            <input id="monto" type="number" name="monto">
                        </div>
                        <div class="input-field col s12 m4" style="margin-top: 20px">
                            <label class="active" for="mes">Mes</label>
                            @Html.DropDownList("mes", (SelectList)ViewBag.SelectMes, new { })
                        </div>
                        <div class="input-field col s12 m4" style="margin-top: 20px">
                            <input id="ano" type="number" value="@DateTime.Now.Year" name="ano">
                            <label class="active" for="ano">Año</label>
                        </div>
                        <div class="input-field col s12 m4" style="margin-top: 20px">
                            <input id="vence" type="text" class="datepicker" value="@DateTime.Now.AddMonths(1).ToString("dd-MM-yyyy")" name="vence">
                            <label class="active" for="vence">Vence</label>
                        </div>
                        <div class="input-field col s12 m4 RequierMulta" style="margin-top: 20px">
                            <input id="multa" type="number" value="" name="multa">
                            <label class="active" for="multa">Multa</label>
                        </div>
                    </div>
                    <input type="hidden" value="@Model.Id" id="cliid" name="cliente" />
                    <input type="hidden" value="" id="id" name="id" />
                </form>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
                <a href="javascript:AgregarDedudaFinal()" class="modal-action modal-close waves-effect waves-green btn-flat" classonclick="">Guardar</a>
            </div>
        </div>
    }
</div>

<div id="modal2" class="modal collection" style="width:30em">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h5 class="center">¿Está seguro de anular la deuda?</h5>
            </div>
        </div>
    </div>
    <div class="modal-footer center" style="text-align:center; padding-left:20px; padding-right:20px">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect left waves-green btn orange darken-1">Cancelar</a>
        <a id="botonEliminar" href="javascript:void('0')" class="modal-action right modal-close waves-effect waves-green btn  green accent-4" classonclick="">Eliminar</a>
    </div>
</div>

<div id="modal3" class="modal collection" style="width:30em">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h5 class="center">¿Está seguro de pagar la deuda de monto: <span id="montoDeuda"></span>?</h5>
            </div>
        </div>
    </div>
    <div class="modal-footer center" style="text-align:center; padding-left:20px; padding-right:20px">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect left waves-green btn orange darken-1">Cancelar</a>
        <a id="botonPagar" href="javascript:void('0')" class="modal-action right modal-close waves-effect waves-green btn  green accent-4" classonclick="">Pagar</a>
    </div>
</div>

<script>
	$(document).ready(function () {
		// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal();
        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false, // Close upon selecting a date,
            onStart: function() {
                $('.picker').appendTo('body');
            },
            format: "dd-mm-yyyy",
        }).change();
    });

	function pageLoading(status) {
		if (status == 'true') {
			$("#loader").css('display', 'block');
			$("#content").css('display', 'none');
		}
		else {
			$("#loader").css('display', 'none');
			$("#content").css('display', 'block');
		}
	}

    $('#form').submit(function (e) {
        var rut = $('#Rut').val();
        var d = Resyst.ValidarRut(rut);
        if (!d) {
            e.preventDefault();

            Resyst.Error("Rut inválido");
        }
    });

    $('#tabla-deuda').DataTable({
        bFilter: true,
        bInfo: false,
        bPaginate: false,
        ordering: true,
        "columns": [
            { data: "Periodo" },
            { data: "Monto" },
			{ data: "Vence" },
			{
                data : "Multa"
			},
            { data: "Total" },
            {
                'render': function (dat, type, full, meta) {
                    return '<a href="javascript:void(0)" title="Editar Deuda" onclick="MantncionDeuda(' + full.Id + ')"><i class="material-icons">edit</i></a>' +
                        '<a href="javascript:void(0)" title="Eliminar Deuda" class="red-text" onclick="Eliminar(' + full.Id + ')"><i class="material-icons">close</i></a>' +
                        '<a href="javascript:void(0)" title="Pagar Deuda" class="green-text" onclick="PagarDeuda(' + full.Id + ', \'' + full.Monto + '\')"><i class="material-icons">check</i></a>';
				}
			},
        ],
        "ajax": {
            "url": "@Url.Action("JsonGetListaDeudas")?id=@Model.Id",
            "type": "POST",
			"dataType": "json",
			"dataSrc": function (json) {
				pageLoading("false");
				return json.data;
			}
        },
    });

    $('#tabla-deudaAnulada').DataTable({
        bFilter: true,
        bInfo: false,
        bPaginate: false,
        ordering: true,
        "columns": [
            { data: "Periodo" },
            { data: "Monto" },
			{ data: "Vence" },
			{
                data : "Multa"
			},
            { data: "Total" },
            {
                'render': function (dat, type, full, meta) {
                    return '<a href="javascript:void(0)" title="Restablecer" onclick="RestablecerDeuda(' + full.Id + ')"><i class="material-icons">check</i></a>';
				}
			},
        ],
        "ajax": {
            "url": "@Url.Action("JsonObtenerListaDeudasAnuladas")?idCliente=@Model.Id",
            "type": "POST",
			"dataType": "json",
			"dataSrc": function (json) {
				pageLoading("false");
				return json.data;
			}
        },
    });

    $('#tabla-deudas-pagadas').DataTable({
        bFilter: true,
        bInfo: false,
        bPaginate: false,
        ordering: true,
        "columns": [
            { data: "Periodo" },
            { data: "Monto" },
			//{ data: "Vence" },
			//{
   //             'render': function (dat, type, full, meta) {
   //                 if (full.AplicaMulta) {
   //                     if (full.Multa != null)
   //                         return '<a class="red darken-1 modal-trigger" href="#modal-placebo">' + full.Multa + '</a>';
   //                     return '<a class="red darken-1 modal-trigger" href="#modal-placebo">Agregar</a>';
   //                 }
   //                 return 'No Aplica'
			//	}
			//},
   //         { data: "Total" },
        ],
        "ajax": {
            "url": "@Url.Action("JsonGetListaDeudas")?id=@Model.Id&pagadas=true",
            "type": "POST",
			"dataType": "json",
			"dataSrc": function (json) {
				pageLoading("false");
				return json.data;
			}
        },
    });

    function RestablecerDeuda(deuId) {
        $.ajax({
            type: 'post',
            url: '@Url.Action("RestablecerDeuda")',
            data: { deuId },
            success: function (data) {
                Resyst.Toast(data, "tabla-deudaAnulada");
                Resyst.Reload("tabla-deuda");
            }
        });
    }

    @* SCRIPT DE LA SEGUNDA TABLA -> POR HACER

    $('#tabla-deudas-pagadas').DataTable({
        bFilter: false,
        bInfo: false,
        bPaginate: false,
        ordering: false,
        "columns": [
            { data: "Periodo" },
            { data: "Monto" },
        ],
        "ajax": {
            "url": "@Url.Action("JsonGetListaDeudas")?id=@Model.Id",
            "type": "POST",
            "dataType": "json"
        },
    });*@

    $('#test0').change(function () {
        var checkboxes = $(this).closest('table').find(':checkbox');
        if ($(this).is(':checked')) {
            checkboxes.prop('checked', true);
        } else {
            checkboxes.prop('checked', false);
        }
    });

    function MantncionDeuda(id) {
        if (id == 0) {
            $('#titulo').html('Agregar Deuda');
            $('.RequierMulta').hide();
            $('#modalDeuda').modal('open');
        }
        else {
            $('#titulo').html('Editar Deuda');
            $.ajax({
                type: 'post',
                url: '@Url.Action("JsonObtenerDatosDeuda")',
                data: { id: id },
                success: function (data) {
                    CargarModal(data);
                    $('#modalDeuda').modal('open');
                }
            })
        }
    }

    function CargarModal(data) {
        if (!data.RequierMulta || data.Id == 0) {
            $('.RequierMulta').hide();
        } else {
            $('.RequierMulta').show();
        }
        $('#monto').val(data.Monto).change();
        $('#ano').val(data.Ano).change();
        $('#mes').val(data.Mes).change();
        $('#multa').val(data.Multa).change();
        $('#vence').val(data.Vence).change();
        $("#id").val(data.Id).change();
        $('select').material_select();
    }

    function AgregarDedudaFinal() {

        $.ajax({
            type: 'post',
            url: '@Url.Action("AgregarDeuda")',
            data: $('#formularioAgregarDeduda').serialize(),
            success: function (d) {
                Resyst.Toast(d, "tabla-deuda")
            },
            error: function (d) {
                Resyst.Error("Hubo un error, asegurese de llenar todos los campos obligatorios e intentelo nuevamente.");
            }
        });
    }

    function Eliminar(id) {
        $('#modal2').modal('open');
        $('#botonEliminar').click(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'post',
                url: '@Url.Action("AnularDeuda")',
                data: { deuId: id },
                success: function (d) {
                    Resyst.Toast(d, "tabla-deuda")
                    Resyst.Reload("tabla-deudaAnulada");
                },
                error: function (d) {
                    Resyst.Error("Hubo un error, asegurese de llenar todos los campos obligatorios e intentelo nuevamente.");
                }
            });
            $(this).unbind(e);
        });
    }

    function PagarDeuda(id, monto) {
        $('#modal3').modal('open');
        $('#montoDeuda').html(monto);
        $('#botonPagar').click(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'post',
                url: '@Url.Action("PagarDeuda")',
                data: { deuId: id },
                success: function (d) {
                    Resyst.Toast(d, "tabla-deuda")
                    Resyst.Reload("tabla-deudas-pagadas");
                },
                error: function (d) {
                    Resyst.Error("Hubo un error.");
                }
            });
            $(this).unbind(e);
        });
    }
</script>

